{% extends "base.html" %} {% block title %}Login{% endblock %} 

{% block content%}
<form method="POST">{% csrf_token %}
  <h3 align="center">Login</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
      required
    />
  </div>
   <div class = "form-group">
<label for="user">Login As </label>

<select name="user" id="user">
  <option value="Customer">Customer</option>
  <option value="Seller">Seller</option>
  <option value="Delivery">Delivery</option>
</select>
</div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
      required
    />
  </div>
  
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}