{% extends "base.html" %} {% block title %}Add Product{% endblock %} 

{% block content%}
<body>
{% csrf_token %}
<style>
  h2{
    margin: auto;
    width: 200px;
  }
</style>
    <h5 class="display-4 fw-normal">Order with OrderID = {{orderID}}</h5>
      <table class="table table-hover table-bordered text-center" style="background-color: #96D4D4;">
        <tr>
          <th>Product Name</th>
          <th>Seller email</th>
          <th>Quantity</th>
          <th>Price</th>
          </tr> 
        
        {% for row in table %}
        <tr>
          {% for col in row %}
          <td>{{col}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    {%endblock%}